<?xml version="1.0" encoding="utf-8"?>
<manifest package="itba.undiaparadar"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".UnDiaParaDarApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/hashtag_un_dia_para_dar"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".activities.FilterActivity"
            android:theme="@style/ModalTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.PledgeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.PositiveActionDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider877005669054245"
            android:exported="true"/>

        <!-- Mac -->
         <meta-data
         android:name="com.google.android.geo.API_KEY"
         android:value="AIzaSyA6Oyeppf6cKOV41q3it-AkzzIop4Yq5n0"/>

        <!-- Masacre -->
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="AIzaSyAij63SIQ0QtgNyFiWU3xk1x1XltF9VpBI"/>-->

        <!-- OLX -->
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="AIzaSyBZWsOagGV6LCREJTyrKD_L4V9nVxX7R9M"/>-->

        <!-- PARSE -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_application_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
    </application>

</manifest>
